{% load staticfiles %}
<html>
    <head>       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">                
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>                
        <link rel="stylesheet" href="{% static 'events/css/events.css' %}">        
        <link rel="stylesheet" href="{% static 'events/css/slider.css' %}">     
        <link rel="shortcut icon" type"image/png" href="{%  static 'favicon.ico' %}">
    </head>
    <body>
        <nav class="navbar navbar-inverse sticky-top navbar-toggleable-sm dark">
            <a class="navbar-brand" href="/">
                <img src="{% static 'events/images/logo_white.png' %}" height="50px" alt="">
            </a>  
            <button class="navbar-toggler navbar-toggler-right nav-vertical-align" style="margin-top:10px" type="button" data-toggle="collapse" data-target="#toggler" aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggler">          
                <div class="container-fluid no-padding">                         
                    <div class="row">
                        <div class = "col-sm-12 col-md-7 cn">
                                <ul class="nav navbar-nav">                
                                    <li class="nav-item"> 
                                        <a class="nav-link" href="/#about">О нас</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/#events">Мероприятия</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/#parties">Корпоративы</a>
                                    </li>                
                                    <li class="nav-item">
                                        <a class="nav-link" href="/#photos">Фотографии</a>
                                    </li>   
                                </ul>                        
                        </div>
                        <div class="col-sm-12 col-md-5 text-center no-padding">
                            <h4 style="margin:0px;">
                                <a id="tel" class="nav-link" href="tel:+375445390338">+375 44 539-03-38</a>                            
                            </h4>                                    
                        </div>                
                    </div>                            
                </div>
            </div>
        </nav>
        <div class="container-fluid section">
            <h1>{{event.title}}</h1>
            <div id="description-row" class="row">
                <div class="col-sm-4 offset-sm-1 col-xs-12">  
                    <a id="modalImage">
                        <img id="imageresource" src="{{event.picture_url}}" style="width: 100%;">                        
                    </a>                                        
                    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">                            
                            <div class="close-container">
                                <button type="button" class="close" data-dismiss="modal"><img id="close-icon" src="{% static 'events/images/close_icon.png' %}" aria-hidden="true"></img><span class="sr-only">Close</span></button>                          
                                <img src="" id="imagepreview">                                                        
                            </div>                                                      
                        </div>
                    </div>
                </div>                
                <div class="col-sm-6 offset-sm-1 col-xs-12 event-info">          
                    <p>Когда</p>
                    <p class="date">{{event.date|date:"j E, l"}}</p>                    
                    <p class="time">{{event.time}}</p>
                    <p>Где</p>          
                    <p class="place">{{event.place.name}}</p>
                    <p>На мероприятие вы можете приходить на 5-10 минут раньше, чтобы настроиться на хорошее времяпровождение.                         
                        У вас есть шанс выбрать себе самое удобное место, где вы в максимально комфортных условиях сможете приступить к созданию своего шедевра.                         
                        Будем рады вас видеть!
                    </p>
                    <div class="container no-padding no-margin" style="bottom: 0;">                                                                                                                                                                                                                                                                                                                                                                                    
                        <a href="/events/{{event.id}}" class="btn btn-outline-success">Заказать</a>
                    </div>
                    <p></p>
                </div> 
            </div>            
            <h4 class="event-section-title">О месте</h4>
            <div class="row">
                <div class="col-sm-5 offset-sm-1 col-xs-12">
                    <div id="map"></div>        
                </div>
                <div class="col-sm-6">
                    <div class="description">название</div>                    
                    <div class="place-information">{{event.place.name}}</div>
                    <div class="description">место</div>
                    <div class="place-information">{{event.place.address}}</div>
                    {% if event.place.website %}
                    <div class="description">сайт</div>
                    <div class="place-information">{{event.place.website}}</div>
                    {% endif %}
                </div>
            </div>

            <h4 class="event-section-title">Вас будут ждать</h4>
            
            <p>Мольберт;</p>
            <p>Холст размера 40х50;</p>
            <p>Акриловые краски;</p>
            <p>Кисточки;</p>
            <p>Фирменная сумка, в которой вы унесете свою картину с собой;</p>
            <p>Красочные фотографии с вами и вашим шедевром;</p>
            <p>Яркие эмоции и много улыбок!</p>

            <h4 class="event-section-title">Возникли вопросы?</h4>
            Пишите нам на почту
            <a href="email:maluu.by@gmail.com">maluu.by@gmail.com</a>                                
            или звоните по телефону
            <a href="tel:+375445390338">+375 44 539-03-38</a>                            

        </div>
        <div class="container-fluid section bottom-section">            
                <div class="row section">
                    <div class="col-sm-12 text-center">
                        <a href="">
                            <img id="instagram-logo" src="{% static 'events/images/instagram-logo.png' %}" alt="Intagram">
                        </a>
                        <a href="https://www.facebook.com/maluuby/">
                            <img id="facebook-logo" src="{% static 'events/images/facebook-logo.png' %}" alt="Facebook">
                        </a>
                        <a href="https://vk.com/maluuby">
                            <img id="vk-logo" src="{% static 'events/images/vk-logo.png' %}" alt="Vkontakte">
                        </a>                    
                        <a id="tel" class="nav-link" href="tel:+375445390338">+375 44 539-03-38</a>                                
                    </div>                                
                    <div class="col-sm-12 text-center">
                            © {% now "Y" %}, Малюю
                    </div>                    
            </div>                  
        </div> 
    </body>
</html>

<script>
        function myMap(){                
            var myLatLng = {lat: parseFloat("{{event.place.latitude}}".replace(",", ".")), lng: parseFloat("{{event.place.longitude}}".replace(",", "."))};
            var mapOptions = {
                center: myLatLng,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.roadmap
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,                
            });
        }

        $("#modalImage").on("click", function() {
   $('#imagepreview').attr('src', $('#imageresource').attr('src'));
   $('#imagemodal').modal('show'); 
});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgWBxyC8Tr9rNeoltXnJfOo-IRJEkLhSE&callback=myMap"></script>