{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">                
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>        
        <link rel="stylesheet" href="{% static 'events/css/events.css' %}">        
        <link rel="stylesheet" href="{% static 'events/css/slider.css' %}">     
        <link rel="shortcut icon" type"image/png" href="{%  static 'favicon.ico' %}">
    </head>
    <body>
        <nav class="navbar navbar-inverse sticky-top navbar-toggleable-sm dark">
            <a class="navbar-brand" href="/">
                <img src="{% static 'events/images/logo_white.png' %}" height="50px" alt="">
            </a>  
            <button class="navbar-toggler navbar-toggler-right nav-vertical-align" style="margin-top:10px" type="button" data-toggle="collapse" data-target="#toggler" aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggler">          
                <div class="container-fluid no-padding">                         
                    <div class="row">
                        <div class = "col-sm-12 col-md-7 cn">
                                <ul class="nav navbar-nav">                
                                    <li class="nav-item"> 
                                        <a class="nav-link" href="/#about">О нас</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/#events">Мероприятия</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/#parties">Корпоративы</a>
                                    </li>                
                                    <li class="nav-item">
                                        <a class="nav-link" href="/#photos">Фотографии</a>
                                    </li>   
                                </ul>                        
                        </div>
                        <div class="col-sm-12 col-md-5 text-center no-padding">
                            <h4 style="margin:0px;">
                                <a id="tel" class="nav-link" href="tel:+375445390338">+375 44 539-03-38</a>                            
                            </h4>                                    
                        </div>                
                    </div>                            
                </div>
            </div>
        </nav>             
        <a id="about"> 
        <div class="container text-center section">
            <h2>О нас</h2>
            <p>Малюю — это возможность провести своё время интересно и полезно, ведь рисование помогает справиться со стрессами и привести мысли в порядок. 
                Наши вечеринки проходят в кафе и ресторанах города. 
                За 2 часа с нами вы сможете создать настоящее произведение искусства, которое сможете подарить кому-то из близких или повесить у себя дома.
                Наш художник покажет и подробно расскажет о каждом этапе картины. 
                Если вы никогда не брали в руки кисть, это не проблема. 
                Любой, кто к нам придет, уйдет с прекрасной картиной и хорошим настроением :)
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="col-12">
                            <img src="{% static 'events/images/brushes.png' %}" height="200px" alt="">                            
                        </div>                        
                        Blablabla
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="col-12">
                            <img src="{% static 'events/images/canvas.png' %}" height="200px" alt="">                            
                        </div>
                        Blablabla
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="col-12">
                            <img src="{% static 'events/images/smile.png' %}" height="200px" alt="">                            
                        </div>
                        Blablabla
                    </div>                    
                </div>
            </div>
        </div>                        
        <a id="events"></a>
        <div class="container-fluid no-padding no-margin section event-section">                     
            <div class="col-12 text-center section">
                <h2>Ближайшие Мероприятия</h2>                      
            </div>
            <div class="col-12 no-padding">                    
                <div class="carousel carousel-multi slide" interval="false" interval="false" id="carousel-events">
                        <ol class="carousel-indicators">
                            {% for event in events %}      
                                {% if forloop.counter0 == 0 %}                      
                                    <li data-target="#carousel-events" data-slide-to="{{forloop.counter0}}" class="active"></li>                                                                
                                {% else %}
                                    <li data-target="#carousel-events" data-slide-to="{{forloop.counter0}}"></li>                                                                
                                {% endif %}                    
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">                                                    
                            {% for event in events %}                            
                                {% if forloop.counter == 1 %}                                    
                                <div class="carousel-item active">
                                {% else %}
                                <div class="carousel-item">
                                {% endif %}                       
                                    <div class="container-fluid no-padding">
                                        <div class="row">             
                                            <div class="col-sm-5 offset-sm-1 offset-xs-1 col-xs-10 item-event">  
                                                <img class="d-block img-fluid ratio" style="background-image: url('{{event.picture_url}}');">
                                            </div>
                                            <div class="col-sm-6 offset-xs-1 col-xs-10 item-event event-info">
                                                <p class="date">{{event.date|date:"j E, l"}}</p>
                                                <p class="time">{{event.time}}</p>
                                                <p class="place">{{event.place.name}}</p>
                                                <div class="container no-padding no-margin" style="bottom: 0;">                                                                                                                                                                                                                                                                                                                                                                                    
                                                    <a href="/events/{{event.id}}" class="btn btn-outline-success">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                 
                                {% if forloop.counter == 1 %}                                    
                                    </div>                                                   
                                {% else %}
                                    </div>                                                   
                                {% endif %}                                                                       
                            {% endfor %}                               
                        </div>                                
                    <a class="carousel-control-prev" href="#carousel-events" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-events" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>                        
                    </a>
                </div>
            </div>                                   
        </div>             
        <a id="parties"></a>
        <div class="container-fluid section">
            <div class="col-12 text-center">
                <h2>Корпоративы</h2>                      
            </div>
            <div class="row">
                <div class="col-xs-12 offset-sm-2 col-sm-4">
                    <div class="col-12">
                        <img src="{% static 'events/images/canvas.png' %}" height="200px" alt="">                            
                    </div>
                    Blablabla
                </div>
                <div class="col-xs-12 offset-sm-1 col-sm-4">
                    <div class="col-12">
                        <img src="{% static 'events/images/smile.png' %}" height="200px" alt="">                            
                    </div>
                    Blablabla
                </div>       
                <div class="container">
                    <input class="slider-range" type="range" value="5" min="5" max="30">
                    <span class="slider-value"></span>
                    <span class="slider-value price-value"></span>
                </div>                         
            </div>            
        </div>        
        <a id="photos"></a>
        <div class="container-fluid section">
            <div class="col-12 text-center">
                <h2>Фотографии</h2>                                      
            </div>
            <div class="container-fluid section">
                <div class="row no-margin">
                    {% for image in images %}
                        <div class="col-sm-4 no-padding no-margin">
                            <img class="photo" src="{{image}}">
                        </div>
                    {% endfor %}
                </div>
            </div>            
        </div>  
        <div class="container-fluid section bottom-section">            
            <div class="row section">
                <div class="col-sm-12 text-center">
                    <a href="">
                        <img id="instagram-logo" src="{% static 'events/images/instagram-logo.png' %}" alt="Intagram">
                    </a>
                    <a href="https://www.facebook.com/maluuby/">
                        <img id="facebook-logo" src="{% static 'events/images/facebook-logo.png' %}" alt="Facebook">
                    </a>
                    <a href="https://vk.com/maluuby">
                        <img id="vk-logo" src="{% static 'events/images/vk-logo.png' %}" alt="Vkontakte">
                    </a>                    
                    <a id="tel" class="nav-link" href="tel:+375445390338">+375 44 539-03-38</a>                                
                </div>                                
                <div class="col-sm-12 text-center">
                        © {% now "Y" %}, Малюю
                </div>                    
            </div>                  
        </div>        
    </body>
</html>

<script src="{% static 'events/js/events.js' %}"></script>

 